<h3>Reactive Forms</h3>
<div class="card flex justify-content-center">
  <form [formGroup]="myForm" novalidate>
    <div class="formGroup">
      <label for="name"> Name </label>
      <div class="name-input">
        <input type="text" pInputText formControlName="name" />
        <app-error-message [data]="formData['name']" [dataName]="'name'"></app-error-message>
      </div>
    </div>
    <div class="formGroup">
      <label for="Email"> Email </label>
      <div class="input">
        <input type="text" pInputText formControlName="email" />
        <app-error-message [data]="formData['email']" [dataName]="'email'"></app-error-message>
      </div>
    </div>
    <!-- mobileNumber -->
    <div class="formGroup">
      <label for="mobileNumber"> Mobile Number </label>
      <div class="input">
        <input type="text" pInputText formControlName="mobileNumber" />
        <app-error-message [data]="formData['mobileNumber']" [dataName]="'mobileNumber'"></app-error-message>
      </div>
    </div>
    <!-- textArea -->
    <div class="formGroup">
      <label for="textArea">Comment</label>
      <div class="input">
        <textarea rows="5" cols="30" pInputTextarea formControlName="textArea"></textarea>
        <app-error-message [data]="formData['textArea']" [dataName]="'comment'"></app-error-message>
      </div>
    </div>
    <!-- singleCheckbox -->
    <div class="formGroup">
      <div class="single-checkbox">
        <label for="single-checkbox">Single checkbox</label>
        <p-checkbox formControlName="singleCheckbox" value="New York" inputId="ny"></p-checkbox>
        <label for="ny">New York</label>
      </div>
    </div>
    <!-- multipleCheckbox -->
    <div class="formGroup">
      <label for="single-checkbox">Multiple checkbox</label>
      <ng-container *ngFor="let category of options">
        <div class="field-checkbox">
          <p-checkbox name="group" class="cust-checkbox" [value]="category.name"
            [formControl]="$any(this.myForm.get('multipleCheckbox'))" [label]="category.name"
            [inputId]="category.key"></p-checkbox>
        </div>
      </ng-container>
    </div>
    <!-- radio button -->
    <div class="formGroup">
      <label for="single-checkbox">Radio button</label>
      <ng-container *ngFor="let category of options">
        <div class="radio-button">
          <p-radioButton name="group" class="cust-checkbox" [value]="category.name"
            [formControl]="$any(this.myForm.get('radioButton'))" [label]="category.name"
            [inputId]="category.key"></p-radioButton>
        </div>
      </ng-container>
    </div>
    <!-- dropdown -->
    <div class="formGroup">
      <label for="single-checkbox">Dropdown</label>
      <p-dropdown formControlName="dropDown" class="cust-dropdown" placeholder="Select foodType" [options]="fruits"
        optionValue="type" optionLabel="type" [showClear]="true"></p-dropdown>
    </div>
    <!--  dropdown with serach -->
    <div class="formGroup">
      <label for="single-checkbox">Dropdown with search </label>
      <p-dropdown formControlName="dropDown" class="cust-dropdown" placeholder="Select foodType" [options]="fruits"
        optionValue="type" optionLabel="type" [showClear]="true" [filter]="true"></p-dropdown>
    </div>
    <!-- Multi Select -->
    <div class="formGroup">
      <p-multiSelect [options]="fruits" formControlName="dropDown" optionLabel="type"
        [showClear]="true"></p-multiSelect>

    </div>
    <!-- image upload -->
    <div class="formGroup">
      <div class="uploadImage">
        <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)"
          [multiple]="true" accept="image/*">
          <ng-template pTemplate="content">
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
    <!-- date picker -->
    <div class="formGroup">
      <div class="calender">
        <p-calendar formControlName="datePickerStart" (onSelect)="onDateChange($event)" [showIcon]="true" [minDate]="FirstminDate" appendTo="body" placeholder="start Date" [readonlyInput]="true"></p-calendar>
        <p-calendar formControlName="datePickerEnd" [minDate]="minDate" [showIcon]="true" appendTo="body" placeholder="end Date" [readonlyInput]="true"></p-calendar>
      </div>
    </div>
    <div class="button">
      <button type="submit" pButton label="Submit" (click)="onSubmit()"></button>
    </div>
  </form>
</div>